:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(241, 196, 241);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  padding: 10px 0;
  color: rgb(147, 36, 181);
  font-weight: 700;
}

ul {
  list-style-type: none;
}

i {
  color: rgb(108, 22, 134);
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
}

.btn {
  background-color: rgb(108, 22, 134);
  color: white;
  margin-left: 20px;
  margin-bottom: 5px;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: blueviolet;
  color: white;
  transition: 0.2s ease;
  transform: scale(1.05);
}

i:hover {
  transition: 0.2s ease;
  transform: scale(1.10);
  color: blueviolet;
}

li:hover {
  background-color: rgb(240, 171, 255);
}

.container {
  width: 60%;
}